<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kkgroup.soundscape_v2">

    <!-- permissions for audio recording -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- permission for internet usage -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- vibration for dragging items in creating new soundscape page -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:configChanges="orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NewSoundscapeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LocalAudioFilesActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".activity.SelectAudioActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".activity.RemoteAudioFilesActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".activity.PlayActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".activity.SearchActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".activity.SettingsActivity"
            android:configChanges="orientation" />
        <activity android:name=".activity.MainActivity"
            android:configChanges="orientation"></activity>
    </application>

</manifest>